node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Foundry files
/broadcast
/out
/cache_forge

# Keep deployment artifacts but ignore sensitive broadcast logs
!/deployments
/deployments/*.json
!/deployments/*-latest.json
